.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  font-weight: bold;
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  border: 2px solid rgb(77, 77, 77);
}

tr {
  border-bottom: 1px solid rgb(77, 77, 77);
}
tr:nth-child(even) {
  background-color: lightgrey;
}
tr:nth-child(odd) {
  background-color: #54b1fd;
}

td {
  padding: 9px;
  border: 1px solid rgb(77, 77, 77);
}

tr:hover{
  background-color: white;
  transition: .4s;
}